.abc {
    color: red;
}
.abcd{
    color: blue;
}
.xyz{
    color: yellow;
}
.wxyz{
    color: green;
}
.removeAttribute{
    color: red;
}
.className{
    background-color: blueviolet;
    color: white;
}